.active {
    color: #388E3C !important;
}

textarea:focus{
    border-bottom: 1px solid #388E3C !important;
    box-shadow: 0 1px 0 0 #388E3C !important;
}

input:focus {
    border-bottom: 1px solid #388E3C !important;
    box-shadow: 0 1px 0 0 #388E3C !important;
}

input[type=text] {
    min-width: 160px !important;
}
.from-20-to-40 {
    min-width: 25px !important;
    max-width: 60px !important;
    overflow: hidden !important;
}

label {
    min-width: 195px !important;
}

.row {
    margin-bottom: 0px !important;
}

.mrg-bot {
    margin-bottom: 20px;
}

.slider .indicators .indicator-item.active {
    background-color: #388E3C !important;
}

.indicators {
    z-index: 100 !important;
}


.card-image {
    display: flex;
    align-items: center;
}

.parallax-container {
    height: 250px;
}

.header-text-wrapper {
    display: flex;
    min-height: 120px !important;
    justify-content: center;
}

.header-text {
    width: 80%;
}

.card .card-title {
    padding-left: 10px;
}

.sidenav-trigger {
    margin: 0 !important;
}

.input-field{
    overflow: hidden !important;
}