.active {
    color: #0D47A1 !important;
}

textarea:focus{
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}

input:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}

input {
    min-width: 200px !important;
}

label {
    min-width: 195px !important;
}

.row .col.s13 {
    margin-bottom: 0px !important;
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row {
    margin-bottom: 0px !important;
}

.mrg-bot {
    margin-bottom: 20px;
}
