{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5><p><b>"УК "Теплодім"</b> – це компанія, що надає послуги безпосередньо власникам
житлової нерухомості. Наші клієнти співвласники та ОСББ. Ми створили
Управляючу компаню, що допомогає співвласникам управляти своєю
        спільною власністю - <b>багатоквартирним будинком.</b></p>
<p>Ми орієнтовані на результат, добре знаємо та розуміємо ваші очікування, спроможні
організувати і налагодити управління та обслуговування відповідно
до норм, стандартів, правил та Ваших побажань.</p></h5>
</div>
<div class="parallax-container">
      <div class="parallax">
          <img src="/static/play_yard.jpg">
      </div>
</div>
<div class="container">
    <h5><p>Якщо Ви хочете отримати прозору систему управління,
унікальні професійні послуги з обслуговування спільної
власності, охорону від ризиків, заощаджуючи свій час
та кошти, зберегти добросусідські відносини в будинку
– у нас ви отримаєте бажаний результат.</p></h5>
    <h4>Коротка статистика нашої компанії</h4>
    <h5><p>На обслуговуванні 73 будинки та 1 ОСББ</p>
        <p>Загальна площа будинків 284,2 тис.кв.м.</p>
        <p>Кількість квартир в будинках - 5925</p>
        <p>Нежитлових приміщень - 236</p>

    </h5>
</div>

{% endblock %}