{% extends 'base.html' %}
{% block content %}

<div class="contact-wrapper">
    {% if sent %}
    <h3>Дякуємо, повідомлення надіслано.</h3>
    {% else %}
    <form method="post" action="">
        {% csrf_token %}
        <label>
            Тема повідомлення (можна вказати адресу)
            <input type="text" name="subject" required >
        </label> <br/>
        <label>
            Ваше повідомлення
            <textarea name="content" cols="40" rows="10" required>
            </textarea>
        </label>
        <button type="submit">Надіслати</button>
    </form>
    {% endif %}
</div>

{% endblock %}