{% extends 'base.html' %}
{% block content %}
<div class="container">
     <ul class="collection with-header">
         <li class="collection-header"><h4>Телефон в робочі дні <b>пн-пт з 8:00 до 17:00 год</b></h4></li>
        <li class="collection-item">+380957657982</li>
      </ul>
         <ul class="collection with-header">
             <li class="collection-header"><h4>Телефони аварійних служб в <b>будні дні з 17:00 до 8:00 год</b>, вихідні та святкові дні круглодобово</h4></li>
        <li class="collection-item">Сантехніки: +380953342137</li>
        <li class="collection-item">Електрики: +380664231287</li>
        <li class="collection-item">Ліфтери: +380993844153</li>
      </ul>
</div>
{% endblock %}