{% extends 'base.html' %}
{% block content %}
<form method="post" action="">
        {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="input-field col s13">
                <i class="material-icons prefix">article</i>
                <input id="icon_subject" name="subject" type="text" class="validate" required>
                <label for="icon_subject">Заголовок</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s13">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" name="message" class="materialize-textarea validate" required></textarea>
                <label for="icon_prefix2">Текст</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
        </div>
        <div class="row" id="images">
            <div class="file-field input-field" id="file-input">
                <div class="btn">
                    <span>File</span>
                    <input type="file" class="img-btn" onchange="handleFiles(this.files)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <a class="waves-effect waves-light btn img-btn">Ще</a>
        <div class="row">
            <div class="input-field col s12 mrg-bot">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Додати
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
$(document).ready(function(){
    var maxField = 8;
    var minField = 2;
    var addQuestionButton = $('.img-btn');
    var wrapper = $('.question');
    var questionWrapper = $('.form');
    questionWrapper.append(get_questionHTML());

    function get_answerHTML(q_num, a_num){
        var $ans = $( '<div class="answer">' +
        '<input type="text" placeholder="answer ' + a_num + '" name="answer_' + q_num + '_' + a_num + '" required>' +
        '<input type="checkbox" name="is_correct_' + q_num + '_' + a_num + '" style="margin-left:10px;"></div>');
        return $ans; }

    add_answer = function(element){
        if(element.parentElement.childElementCount <= maxField + 5){
            a_num = element.parentElement.childElementCount -5;
            $(element.parentElement).append(get_answerHTML(element.parentElement.q_num,a_num)); } //Add field html
        else{ alert("Max 8 answers!");} }

    $(addQuestionButton).click(function(){
           questionWrapper.append(get_questionHTML()); });

    // function get_questionHTML(){
    //     var q_num = questionWrapper[0].childElementCount - 4;
    //     var $quest = $('<div class="question">' +
    //     '<input type="text" placeholder="question ' + q_num +'" name="question_' + q_num + '" required><br>' +
    //     '<input type="number" value="1" min="1" max="50" placeholder="points ' + q_num +'" name="question_pts_' + q_num + '"><br>' +
    //     '<a onclick="remove_answer(this)" class="remove-answer-btn">' +
    //     $quest.append(get_answerHTML(q_num, 1));
    //     $quest.append(get_answerHTML(q_num, 2));
    //     $quest[0].q_num = q_num;
    //     return $quest; }

    remove_answer = function(element){
    console.log(element.parentElement.childElementCount);
        if(element.parentElement.childElementCount > minField + 6){
            element.parentElement.lastChild.remove(); }//Remove field html
        else {alert("At least 2 answers!");}
    };
});

</script>
{% endblock %}