{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h6>УПРАВЛЯЮЧА КОМПАНІЯ ТЕПЛОДІМ надає наступні послуги: </h6>
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">apartment</i>
            <p>Комплексна послуга з утримання та управління вашим
                багатоквартирним будинком командою професіоналів.</p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">local_florist</i>
            <p>Безперебійне та якісне прибирання прибудинкових територій Вашого будинку.</p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">construction</i>
            <p>Повне професійне обслуговування інженерних систем, не лише
                сантехніками та електриками, а й висококваліфікованим
                інженерним складом.
            </p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">business_center</i>
            <p>Професійні бухгалтерські послуги. Повне професійне
                абонентське обслуговування.
            </p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">school</i>
            <p>Постійний юридичний супровід.
            </p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">groups</i>
            <p>Прозора та всебічна звітність в будь-якому
                форматі для всіх співвласників.
            </p>
        </li>
    </ul>
</div>
{% endblock %}